@model IEnumerable<TestePraticoModel.ViewModel.EstabGridViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row py-3">
    <div class="col">
        <h2>Estabelecimento</h2>
    </div>

    <div class="col">
        @Html.ActionLink("Novo", "Create", null, new { @class = "btn btn-primary float-right" })
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.razao_social)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome_fantasia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data_cadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.agencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.conta)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.razao_social)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nome_fantasia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cnpj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.endereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.data_cadastro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.categoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.agencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.conta)
                </td>
                <td class="text-center">
                    @Html.ActionLink("Editar", "Edit", new { id = item.id }, new { @class = "btn btn-sm btn-secondary" })
                </td>
                <td class="text-center">
                    @Html.ActionLink("Excluir", "Delete", new { id = item.id }, new { @class = "btn btn-sm btn-danger btnDelete" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
<script>
    $(document).ready(function () {
        $('.table').DataTable();
    });

    $(".btnDelete").click(function (e) {
        e.preventDefault();

        swal({
            title: 'Você tem certeza?',
            text: "Você não terá mais acesso a este registro!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sim, excluir!',
            cancelButtonText: 'Cancelar'
        }).then(function (result) {
            if (result.value) {
                window.location.href = e.target.href;
            }
        });

    });
</script>
}